html, body {
    margin: 0;
    height: 700px;
    font-family: "Courier New";
    color: #00FF00;
    background-color: #333333;
}
#main3d {
    width: 95%;
    height: 95%;
    display: block;
}
.data_val {
	font-size: 15px !important;
}
.logger {
    max-height: 200px;
    height: 200px;
    scroll: vertical;
    color: #00FF00;
    background-color: black;
    overflow: scroll;
    font-size: 10px;
}
.divTable{
	display: table;
	width: 100%;
	border: 0px !important;
}
.divTableRow {
	display: table-row;
	border: 0px !important;
}
.divTableHeading {
	background-color: #FFF;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #FFF;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #FFF;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}